<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <app-reactive-driven-form></app-reactive-driven-form> -->

<div class="container">
  <div class="row text-center">
    <div class="col-6">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-success"
      >
      <h1><a routerLink="tdf">Template driven form</a></h1>
      </button>
    </div>
    <div class="col-6">
      <button
        type="button"
        class="btn btn-warning"
      >
        <h1><a routerLink="rdf">Reactive driven form</a></h1>
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
