input.ng-touched{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}
.star-size{
    font-size: 25px;
   
}
.card{
    width: 500px;
}
.select{
    margin-left: 40%;
    background-color: rgb(194, 214, 16);
    border: rgb(194, 214, 16);
    color: cornsilk;
    font-weight: bolder;
    font-size: 20px;
    width: 100px;
    margin-left: 180px;
}
.size{
    margin-top: 50px;
}
.fa{
    font-size: 25px;
}
